body {
  font-family: Helvetica;
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8);
  -ms-transform:scale(0.8);
  transform:scale(0.8);
}



.player {
  border: 1px #000 solid;
  border-radius: 50px;
  position: absolute;
  font-size:20px;
}

#canvas {
  border:1px solid #000000;
}

#buttons {
  touch-action: manipulation;
  padding: 16px;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4acaa8; /* Green */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;

  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
